<div class="row">
  <div class="col-md-7">
    <div class="card shadow mt-5">
      <div class="card-body">
        <h1>New Member</h1>
        <%= render 'form', member: @member %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card shadow mt-5">
      <div class="card-body">
        <h1><%= Member.count %> Total members registered</h1>
      </div>
    </div>
  </div>
</div>
