<h2>Hi Admin</h2>
<p>A new Inquiry has been made</p>
<p>Please find the enquiry details below: </p>

<p><strong>Name: </strong><%= @contact.name %></p>
<p><strong>Email: </strong><%= @contact.email %></p>
<p><strong>Mobile Number: </strong><%= @contact.contact_number %></p>
<p><strong>Message: </strong><%= @contact.message %></p>
